# GNU Affero General Public License v3.0 or later (see LICENSE or https://www.gnu.org/licenses/agpl.txt)
# Build workflow

name: Build
on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      runner:
        required: true
        type: string

jobs:
    build:
        runs-on: ${{ inputs.runner }}
        steps:
        - uses: actions/checkout@v4

        - name: Set Rust Toolchain to Stable
          run: rustup default stable

        - name: Restore Cargo Cache
          id: cache
          uses: actions/cache/restore@v4
          with:
            path: |
              ~/.cargo/registry
              ~/.cargo/git
              target
            key: ${{ inputs.runner }}-cargo-release-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
            restore-keys: |
              ${{ inputs.runner }}-cargo-release-

        - name: Build Release Binary
          run: cargo build --release

        - name: Strip Binary
          run: strip target/release/ovc

        - name: Prepare Binary
          run: cp target/release/ovc ovc-${{ inputs.arch }}

        - name: Upload Binary Artifact
          uses: actions/upload-artifact@v4
          with:
            name: ovc-${{ inputs.arch }}
            path: ovc-${{ inputs.arch }}

        - name: Save Cargo Cache
          if: steps.cache.outputs.cache-hit != 'true'
          uses: actions/cache/save@v4
          with:
            path: |
              ~/.cargo/registry
              ~/.cargo/git
              target
            key: ${{ inputs.runner }}-cargo-release-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}

        - name: Delete Old Caches
          if: always()
          env:
            GH_TOKEN: ${{ github.token }}
          run: |
            gh cache list --json id,key --jq '.[] | select(.key | startswith("${{ inputs.runner }}-cargo-release-")) | select(.key != "${{ inputs.runner }}-cargo-release-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}") | .id' | xargs -I {} gh cache delete {} || true
