# GNU Affero General Public License v3.0 or later (see LICENSE or https://www.gnu.org/licenses/agpl.txt)
# Lint workflow

name: Lint

on:
  workflow_call:

jobs:
  fmt:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust Toolchain
        run: |
          rustup default stable
          rustup component add rustfmt

      - name: Check Formatting
        run: cargo fmt --check --verbose

  clippy:
    name: Run Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust Toolchain
        run: |
          rustup default stable
          rustup component add clippy

      - name: Cache Cargo Registry and Build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ubuntu-cargo-clippy-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
          restore-keys: |
            ubuntu-cargo-clippy-

      - name: Run Clippy
        run: cargo clippy
